<h3>Conversation Transcript</h3>
<form action="conversation" method="GET">
  <label>Conversation ID: <input text="" name="id" /></label><br>
  <label>Show only public responses: <input type="checkbox" name="show_selective" value="1" /></label><br>
  <input type="submit">
</form>
